body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Arial', Arial, Helvetica, sans-serif
    background-color: #FBFAFF

*
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    box-sizing: inherit
